In [1]:
import pandas as pd
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Define the Excel file path
excel_file_path = r'C:\Users\User\OneDrive\Desktop\Poly\IT2384_USUL\IT2384 Assignment\hotel data.xlsx'

# Load the Excel data into a Pandas DataFrame
df = pd.read_excel(excel_file_path)

In [3]:
df.head()

,reviewID,custID,custName,cust_travel_type,travel_custer_no,custCountry,countryRegion,datePosted,cust_review_title,star_rating,...,Concept_family,Concept_bath room,Concept_shopping,Concept_experience,Concept_free,Concept_mrt,Concept_better,Concept_roomy,Concept_nearby,Concept_swimming pool
0,5,5,Vidia V.,Couples,1.0,Indonesia,SEA,2013-12-05,nice hotel but quite expensive,8.0,...,0,0,0,0,0,0,0,0,0,0
1,5,5,Vidia V.,Couples,1.0,Indonesia,SEA,2013-12-05,nice hotel but quite expensive,8.0,...,0,0,0,0,0,0,0,0,0,0
2,5,5,Vidia V.,Couples,1.0,Indonesia,SEA,2013-12-05,nice hotel but quite expensive,8.0,...,0,0,0,0,0,0,0,0,0,0
3,5,5,Vidia V.,Couples,1.0,Indonesia,SEA,2013-12-05,nice hotel but quite expensive,8.0,...,0,0,0,0,0,0,0,0,0,0
4,5,5,Vidia V.,Couples,1.0,Indonesia,SEA,2013-12-05,nice hotel but quite expensive,8.0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.info

<bound method DataFrame.info of        reviewID  custID  custName              cust_travel_type  \
0             5       5  Vidia V.                       Couples
1             5       5  Vidia V.                       Couples
2             5       5  Vidia V.                       Couples
3             5       5  Vidia V.                       Couples
4             5       5  Vidia V.                       Couples
...         ...     ...       ...                           ...
52411      1636    1636     Ka L.  Families with Young Children
52412      1636    1636     Ka L.  Families with Young Children
52413      1636    1636     Ka L.  Families with Young Children
52414      1636    1636     Ka L.  Families with Young Children
52415      1636    1636     Ka L.  Families with Young Children

       travel_custer_no custCountry countryRegion datePosted  \
0                   1.0   Indonesia           SEA 2013-12-05
1                   1.0   Indonesia           SEA 2013-12-05
2                   1.0   Indonesia           SEA 2013-12-05
3                   1.0   Indonesia           SEA 2013-12-05
4                   1.0   Indonesia           SEA 2013-12-05
...                 ...         ...           ...        ...
52411               4.0   Hong Kong           SEA 2012-05-01
52412               4.0   Hong Kong           SEA 2012-05-01
52413               4.0   Hong Kong           SEA 2012-05-01
52414               4.0   Hong Kong           SEA 2012-05-01
52415               4.0   Hong Kong           SEA 2012-05-01

                    cust_review_title  star_rating  ... Concept_family  \
0      nice hotel but quite expensive          8.0  ...              0
1      nice hotel but quite expensive          8.0  ...              0
2      nice hotel but quite expensive          8.0  ...              0
3      nice hotel but quite expensive          8.0  ...              0
4      nice hotel but quite expensive          8.0  ...              0
...                               ...          ...  ...            ...
52411                   貼心服務、房間空間大的酒店          9.0  ...              0
52412                   貼心服務、房間空間大的酒店          9.0  ...              0
52413                   貼心服務、房間空間大的酒店          9.0  ...              0
52414                   貼心服務、房間空間大的酒店          9.0  ...              0
52415                   貼心服務、房間空間大的酒店          9.0  ...              0

      Concept_bath room Concept_shopping  Concept_experience  Concept_free  \
0                     0                0                   0             0
1                     0                0                   0             0
2                     0                0                   0             0
3                     0                0                   0             0
4                     0                0                   0             0
...                 ...              ...                 ...           ...
52411                 0                0                   0             0
52412                 0                0                   0             0
52413                 0                0                   0             0
52414                 0                0                   0             0
52415                 0                0                   0             0

       Concept_mrt  Concept_better  Concept_roomy  Concept_nearby  \
0                0               0              0               0
1                0               0              0               0
2                0               0              0               0
3                0               0              0               0
4                0               0              0               0
...            ...             ...            ...             ...
52411            0               0              0               0
52412            0               0              0               0
52413            0               0              0               0
52414            0               0              0               0
52415            0               0              0               0

       Concept_swimming pool
0                          0
1                          0
2                          0
3                          0
4                          0
...                      ...
52411                      0
52412                      0
52413                      0
52414                      0
52415                      0

[52416 rows x 63 columns]>

In [5]:
missing_values = df.iloc[:, :13].isnull().sum()
print(missing_values)

reviewID              0
custID                0
custName              0
cust_travel_type      0
travel_custer_no      9
custCountry           1
countryRegion         0
datePosted           18
cust_review_title    18
star_rating          45
comment               0
hotelName             0
source                0
dtype: int64

Data Cleaning

Drop Columns

In [6]:
# Drop the specified columns
columns_to_drop = ['custID', 'custName','datePosted','hotelName','source','cust_review_title']
df = df.drop(columns=columns_to_drop, axis=1)

Remove Duplicates

In [7]:

df = df.drop_duplicates()
# Display information about the cleaned DataFrame
print("\nDataFrame after removing duplicates:")
print(df)

DataFrame after removing duplicates:
       reviewID              cust_travel_type  travel_custer_no  \
0             5                       Couples               1.0
9          3293                       Couples               1.0
18         1191            Business Travelers               2.0
27         2551                Solo travelers               6.0
36         4789            Business Travelers               2.0
...         ...                           ...               ...
52371       879  Families with Older Children               3.0
52380      5174                       Couples               1.0
52389      3831                Solo travelers               6.0
52398      5574            Business Travelers               2.0
52407      1636  Families with Young Children               4.0

                    custCountry  countryRegion  star_rating  \
0                     Indonesia            SEA          8.0
9                      Malaysia            SEA          7.0
18                  Switzerland         Europe          7.0
27                    Australia        Oceania          6.0
36                     Thailand            SEA         10.0
...                         ...            ...          ...
52371         Brunei Darussalam            SEA          8.7
52380                 Singapore            SEA          6.3
52389  United States of America  North America          8.3
52398                  Malaysia            SEA          4.3
52407                 Hong Kong            SEA          9.0

                                                 comment  Concept_bed  \
0                                                                   0
9      Is great with the facility and its near to MRT...            0
18     As expected - no problems at all - everything ...            0
27                                  not really memorable            0
36     It's a perfect Haloween Night in Singapore. I ...            0
...                                                  ...          ...
52371  I booked this hotel for my family and they wer...            0
52380  We were awaken by the loud prayers from the mo...            0
52389  Pleasant stay at hotel no issues. Hotel clean ...            0
52398  this is my first time ever with the digusting/...            0
52407  excellent view, private, quiet, world class se...            0

       Concept_easy  Concept_bad  ...  Concept_family  Concept_bath room  \
0                 0            0  ...               0                  0
9                 0            0  ...               0                  0
18                0            0  ...               0                  0
27                0            0  ...               0                  0
36                0            0  ...               0                  0
...             ...          ...  ...             ...                ...
52371             0            0  ...               1                  0
52380             0            0  ...               0                  0
52389             0            0  ...               0                  0
52398             0            1  ...               0                  0
52407             0            0  ...               0                  0

       Concept_shopping  Concept_experience  Concept_free  Concept_mrt  \
0                     0                   0             0            0
9                     0                   0             0            0
18                    0                   0             0            0
27                    0                   0             0            0
36                    0                   0             0            0
...                 ...                 ...           ...          ...
52371                 1                   0             1            0
52380                 0                   0             0            1
52389                 1                   0             0            0
52398                 0                   1             0            0
52407                 0                   0             0            0

       Concept_better  Concept_roomy  Concept_nearby  Concept_swimming pool
0                   0              0               0                      0
9                   0              0               1                      0
18                  0              0               0                      0
27                  0              0               0                      0
36                  0              0               0                      0
...               ...            ...             ...                    ...
52371               0              0               0                      0
52380               0              0               1                      0
52389               0              0               0                      0
52398               0              0               0                      0
52407               0              0               0                      0

[5825 rows x 57 columns]

In [8]:
# Remove duplicate rows
df = df.drop_duplicates()
# Display information about the cleaned DataFrame
print("\nDataFrame after removing duplicates:")
print(df)

DataFrame after removing duplicates:
       reviewID              cust_travel_type  travel_custer_no  \
0             5                       Couples               1.0
9          3293                       Couples               1.0
18         1191            Business Travelers               2.0
27         2551                Solo travelers               6.0
36         4789            Business Travelers               2.0
...         ...                           ...               ...
52371       879  Families with Older Children               3.0
52380      5174                       Couples               1.0
52389      3831                Solo travelers               6.0
52398      5574            Business Travelers               2.0
52407      1636  Families with Young Children               4.0

                    custCountry  countryRegion  star_rating  \
0                     Indonesia            SEA          8.0
9                      Malaysia            SEA          7.0
18                  Switzerland         Europe          7.0
27                    Australia        Oceania          6.0
36                     Thailand            SEA         10.0
...                         ...            ...          ...
52371         Brunei Darussalam            SEA          8.7
52380                 Singapore            SEA          6.3
52389  United States of America  North America          8.3
52398                  Malaysia            SEA          4.3
52407                 Hong Kong            SEA          9.0

                                                 comment  Concept_bed  \
0                                                                   0
9      Is great with the facility and its near to MRT...            0
18     As expected - no problems at all - everything ...            0
27                                  not really memorable            0
36     It's a perfect Haloween Night in Singapore. I ...            0
...                                                  ...          ...
52371  I booked this hotel for my family and they wer...            0
52380  We were awaken by the loud prayers from the mo...            0
52389  Pleasant stay at hotel no issues. Hotel clean ...            0
52398  this is my first time ever with the digusting/...            0
52407  excellent view, private, quiet, world class se...            0

       Concept_easy  Concept_bad  ...  Concept_family  Concept_bath room  \
0                 0            0  ...               0                  0
9                 0            0  ...               0                  0
18                0            0  ...               0                  0
27                0            0  ...               0                  0
36                0            0  ...               0                  0
...             ...          ...  ...             ...                ...
52371             0            0  ...               1                  0
52380             0            0  ...               0                  0
52389             0            0  ...               0                  0
52398             0            1  ...               0                  0
52407             0            0  ...               0                  0

       Concept_shopping  Concept_experience  Concept_free  Concept_mrt  \
0                     0                   0             0            0
9                     0                   0             0            0
18                    0                   0             0            0
27                    0                   0             0            0
36                    0                   0             0            0
...                 ...                 ...           ...          ...
52371                 1                   0             1            0
52380                 0                   0             0            1
52389                 1                   0             0            0
52398                 0                   1             0            0
52407                 0                   0             0            0

       Concept_better  Concept_roomy  Concept_nearby  Concept_swimming pool
0                   0              0               0                      0
9                   0              0               1                      0
18                  0              0               0                      0
27                  0              0               0                      0
36                  0              0               0                      0
...               ...            ...             ...                    ...
52371               0              0               0                      0
52380               0              0               1                      0
52389               0              0               0                      0
52398               0              0               0                      0
52407               0              0               0                      0

[5825 rows x 57 columns]

Null Values

In [9]:
# List of columns to check for null values
columns_to_check = ['travel_custer_no','cust_travel_type', 'custCountry', 'star_rating','comment']
# Drop rows with null values in the specified columns
df = df.dropna(subset=columns_to_check)

In [10]:
missing_values = df.iloc[:, :13].isnull().sum()
print(missing_values)

reviewID                  0
cust_travel_type          0
travel_custer_no          0
custCountry               0
countryRegion             0
star_rating               0
comment                   0
Concept_bed               0
Concept_easy              0
Concept_bad               0
Concept_small             0
Concept_place             0
Concept_easy to access    0
dtype: int64

In [11]:
# Get unique values in the 'custCountry' column
unique_countries = df['custCountry'].unique()
unique_countries

array(['Indonesia', 'Malaysia', 'Switzerland', 'Australia', 'Thailand',
       'Singapore', 'Taiwan', 'United Kingdom', 'Philippines',
       'United States of America', 'Hong Kong', 'Norway', 'China',
       'India', 'Italy', 'Vietnam', 'South Korea', 'Germany', 'France',
       'Sri Lanka', 'Portugal', 'Netherlands', 'Finland', 'Austria',
       'Sweden', 'Brunei Darussalam', 'Canada', 'South Africa', 'Estonia',
       'Colombia', 'New Zealand', 'Myanmar', 'Macau', 'Japan',
       'Bangladesh', 'Pakistan', 'Laos', 'Maldives', 'Mauritius',
       'Virgin Islands (British)', 'Russia', 'Denmark', 'Oman',
       'Cambodia', 'Azerbaijan', 'Chile', 'Greece', 'Hungary',
       'United Arab Emirates', 'Afghanistan', 'Venezuela', 'Saudi Arabia',
       'Spain', 'Slovenia', 'Iraq', 'Brazil', 'Israel', 'Mexico',
       'Trinidad and Tobago', 'Belgium', 'Jordan', 'Nepal', 'Egypt',
       'Bahamas', 'Kuwait', 'Turkey', 'Fiji', 'Ireland', 'Kazakhstan',
       'Meldives', 'Poland', 'Mongolia'], dtype=object)

In [12]:
# Replace the misspelled 'Meldives' with 'Maldives' in the 'custCountry'
df.loc[df['custCountry'] == 'Meldives', 'custCountry'] = 'Maldives'

In [13]:
# Get unique values in the 'countryRegion' column
unique_regions = df['countryRegion'].unique()
unique_regions

array(['SEA', 'Europe', 'Oceania', 'North America', 'Sub-Saharan Africa',
       'South America', 'Middle East', 'Caribbean', 'Central America'],
      dtype=object)

In [14]:
# Replace 'SEA' with 'South East Asia' in the 'countryRegion' 
df.loc[df['countryRegion'] == 'SEA', 'countryRegion'] = 'South East Asia'

In [15]:
# Group the DataFrame by 'countryRegion' and 'custCountry' columns
grouped = df.groupby('countryRegion')['custCountry'].unique()

# Display unique regions and unique countries within each region
for region, unique_countries in grouped.items():
    print(f"{region}: {list(unique_countries)}")

Caribbean: ['Trinidad and Tobago']
Central America: ['Bahamas']
Europe: ['Switzerland', 'United Kingdom', 'Norway', 'Italy', 'Germany', 'France', 'Portugal', 'Netherlands', 'Finland', 'Austria', 'Sweden', 'Estonia', 'United States of America', 'Mauritius', 'Virgin Islands (British)', 'Russia', 'Denmark', 'Greece', 'Maldives', 'Hungary', 'Spain', 'Belgium', 'Nepal', 'Turkey', 'Ireland', 'Slovenia', 'Poland', 'New Zealand']
Middle East: ['Pakistan', 'Oman', 'Azerbaijan', 'United Arab Emirates', 'Afghanistan', 'Saudi Arabia', 'Iraq', 'Israel', 'Bangladesh', 'Jordan', 'Egypt', 'Kazakhstan']
North America: ['United States of America', 'Mexico', 'Australia', 'Canada']
Oceania: ['Australia', 'Canada', 'New Zealand', 'Sri Lanka']
South America: ['Colombia', 'Chile', 'Venezuela', 'Saudi Arabia']
South East Asia: ['Indonesia', 'Malaysia', 'Thailand', 'Singapore', 'Taiwan', 'Philippines', 'Hong Kong', 'China', 'India', 'Vietnam', 'South Korea', 'Sri Lanka', 'Brunei Darussalam', 'Australia', 'Canada', 'Myanmar', 'United Kingdom', 'Macau', 'New Zealand', 'Japan', 'Bangladesh', 'Laos', 'Maldives', 'Cambodia', 'Slovenia', 'Brazil', 'France', 'Kuwait', 'Fiji', 'Kazakhstan', 'United States of America', 'Mongolia']
Sub-Saharan Africa: ['South Africa']

In [16]:
# Define the mapping of countries to regions
country_to_region = {
    'Bahamas': 'Caribbean',
    'Virgin Islands (British)': 'Caribbean',
    'Maldives': 'South Asia',
    'Nepal': 'South Asia',
    'Pakistan': 'South Asia',
    'Bangladesh': 'South Asia',
    'Sri Lanka': 'South Asia',
    'India': 'South Asia',
    'Canada': 'North America',
    'United States of America': 'North America',
    'Australia': 'Oceania',
    'New Zealand': 'Oceania',
    'Fiji': 'Oceania',
    'Saudi Arabia': 'Middle East',
    'Kuwait': 'Middle East',
    'United Kingdom': 'Europe',
    'France': 'Europe',
    'Slovenia': 'Europe',
    'Turkey': 'Middle East',
    'Mauritius': 'Middle East',
    'Brazil': 'South America',
    'Hong Kong': 'East Asia',
    'China': 'East Asia',
    'Macau':'East Asia',
    'Kazakhstan':'Middle East',
    'Japan': 'East Asia',
    'Taiwan': 'East Asia',
    'South Korea': 'East Asia',
    'Cambodia': 'East Asia',
    'Mongolia':'East Asia',
    
    #countries that didnt change
    'South Africa':'Sub-Saharan Africa',
    'Mexico': 'North America',
    'Trinidad and Tobago': 'Caribbean',
    'Afghanistan':'Middle East',
    'Azerbaijan':'Middle East',
    'Oman':'Middle East',
    'United Arab Emirates':'Middle East',
    'Egypt':'Middle East',
    'Iraq':'Middle East',
    'Israel':'Middle East',
    'Jordan':'Middle East',
    'Austria':'Europe',
    'Belgium':'Europe',
    'Brunei Darussalam':'South East Asia',
    'Chile':'South America',
    'Colombia':'South America',
    'Venezuela':'South America',
    'Denmark':'Europe',
    'Finland':'Europe',
    'Ireland':'Europe',
    'Netherlands':'Europe',
    'Germany':'Europe',
    'Hungary':'Europe',
    'Italy':'Europe',
    'Indonesia':'South East Asia',
    'Malaysia':'South East Asia',
    'Myanmar':'South East Asia',
    'Philippines':'South East Asia',
    'Singapore':'South East Asia',
    'Thailand':'South East Asia',
    'Vietnam':'South East Asia',
    'Laos':'South East Asia',
    'Norway':'Europe',
    'Portugal':'Europe',
    'Russia':'Europe',
    'Spain':'Europe',
    'Switzerland':'Europe',
    'Poland':'Europe',
    'Sweden':'Europe',
    'Greece':'Europe',
    'Estonia':'Europe',
}

# Replace the 'countryRegion' values with the corresponding regions
df['countryRegion'] = df['custCountry'].map(country_to_region)

# Display the modified DataFrame
df

,reviewID,cust_travel_type,travel_custer_no,custCountry,countryRegion,star_rating,comment,Concept_bed,Concept_easy,Concept_bad,...,Concept_family,Concept_bath room,Concept_shopping,Concept_experience,Concept_free,Concept_mrt,Concept_better,Concept_roomy,Concept_nearby,Concept_swimming pool
0,5,Couples,1.0,Indonesia,South East Asia,8.0,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3293,Couples,1.0,Malaysia,South East Asia,7.0,Is great with the facility and its near to MRT...,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,1191,Business Travelers,2.0,Switzerland,Europe,7.0,As expected - no problems at all - everything ...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2551,Solo travelers,6.0,Australia,Oceania,6.0,not really memorable,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,4789,Business Travelers,2.0,Thailand,South East Asia,10.0,It's a perfect Haloween Night in Singapore. I ...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52371,879,Families with Older Children,3.0,Brunei Darussalam,South East Asia,8.7,I booked this hotel for my family and they wer...,0,0,0,...,1,0,1,0,1,0,0,0,0,0
52380,5174,Couples,1.0,Singapore,South East Asia,6.3,We were awaken by the loud prayers from the mo...,0,0,0,...,0,0,0,0,0,1,0,0,1,0
52389,3831,Solo travelers,6.0,United States of America,North America,8.3,Pleasant stay at hotel no issues. Hotel clean ...,0,0,0,...,0,0,1,0,0,0,0,0,0,0
52398,5574,Business Travelers,2.0,Malaysia,South East Asia,4.3,this is my first time ever with the digusting/...,0,0,1,...,0,0,0,1,0,0,0,0,0,0
52407,1636,Families with Young Children,4.0,Hong Kong,East Asia,9.0,"excellent view, private, quiet, world class se...",0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# Group the DataFrame by 'countryRegion' and 'custCountry' columns
grouped = df.groupby('countryRegion')['custCountry'].unique()

# Display unique regions and unique countries within each region
for region, unique_countries in grouped.items():
    print(f"{region}: {list(unique_countries)}")

Caribbean: ['Virgin Islands (British)', 'Trinidad and Tobago', 'Bahamas']
East Asia: ['Taiwan', 'Hong Kong', 'China', 'South Korea', 'Macau', 'Japan', 'Cambodia', 'Mongolia']
Europe: ['Switzerland', 'United Kingdom', 'Norway', 'Italy', 'Germany', 'France', 'Portugal', 'Netherlands', 'Finland', 'Austria', 'Sweden', 'Estonia', 'Russia', 'Denmark', 'Greece', 'Hungary', 'Spain', 'Slovenia', 'Belgium', 'Ireland', 'Poland']
Middle East: ['Mauritius', 'Oman', 'Azerbaijan', 'United Arab Emirates', 'Afghanistan', 'Saudi Arabia', 'Iraq', 'Israel', 'Jordan', 'Egypt', 'Kuwait', 'Turkey', 'Kazakhstan']
North America: ['United States of America', 'Canada', 'Mexico']
Oceania: ['Australia', 'New Zealand', 'Fiji']
South America: ['Colombia', 'Chile', 'Venezuela', 'Brazil']
South Asia: ['India', 'Sri Lanka', 'Bangladesh', 'Pakistan', 'Maldives', 'Nepal']
South East Asia: ['Indonesia', 'Malaysia', 'Thailand', 'Singapore', 'Philippines', 'Vietnam', 'Brunei Darussalam', 'Myanmar', 'Laos']
Sub-Saharan Africa: ['South Africa']

In [18]:
df = df[df['comment'].str.strip() != '']

In [19]:
# Get unique values in the 'custCountry' column
unique_comment = df['comment'].unique()
unique_comment

array(['Is great with the facility and its near to MRT station. Which it just opposite the hotel.',
       'As expected - no problems at all - everything worked fine.',
       'not really memorable', ...,
       'Pleasant stay at hotel no issues. Hotel clean but small, next to Bugus shopping which was great. Would not recommend for than 2-3 days in Singapore. You can drive around it in 1 1/2 hrs. Not much to see for attractions. Very expensive to shop or do anything. Watch your money. Locals try to cheat you every time you turn around. So hard to have a good time as you where always watching you money. Example;Went to local bar and ordered Heineken beer (small bottle)asked for check and it said $63sd That is about $60us for one bottle of beer. Explained too much and gave her $10sd and walked out. Taxi driver from airport did same thing. Asked lady who called cab over how much should it cost to go to my hotel. She say about $20sd, I say ok. Taxi Driver at arrival said $45sd. So it was difficult for me to have a good time thier. Was their for 6 days, ready to leave after 2 days. So cross Singapore off your bucket list. But positive note. Clean city, can walk anywhere within 1/2 hr from my hotel location. So got some exercise.',
       'this is my first time ever with the digusting/stinky toilet bowl sits. bad experience.',
       'excellent view, private, quiet, world class service.'],
      dtype=object)

In [20]:
df.to_csv('Cleaned_Hotel_Data.csv')
df

,reviewID,cust_travel_type,travel_custer_no,custCountry,countryRegion,star_rating,comment,Concept_bed,Concept_easy,Concept_bad,...,Concept_family,Concept_bath room,Concept_shopping,Concept_experience,Concept_free,Concept_mrt,Concept_better,Concept_roomy,Concept_nearby,Concept_swimming pool
9,3293,Couples,1.0,Malaysia,South East Asia,7.0,Is great with the facility and its near to MRT...,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,1191,Business Travelers,2.0,Switzerland,Europe,7.0,As expected - no problems at all - everything ...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2551,Solo travelers,6.0,Australia,Oceania,6.0,not really memorable,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,4789,Business Travelers,2.0,Thailand,South East Asia,10.0,It's a perfect Haloween Night in Singapore. I ...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63,773,Business Travelers,2.0,United Kingdom,Europe,9.0,"last minute booking for V hotel , affordable p...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52371,879,Families with Older Children,3.0,Brunei Darussalam,South East Asia,8.7,I booked this hotel for my family and they wer...,0,0,0,...,1,0,1,0,1,0,0,0,0,0
52380,5174,Couples,1.0,Singapore,South East Asia,6.3,We were awaken by the loud prayers from the mo...,0,0,0,...,0,0,0,0,0,1,0,0,1,0
52389,3831,Solo travelers,6.0,United States of America,North America,8.3,Pleasant stay at hotel no issues. Hotel clean ...,0,0,0,...,0,0,1,0,0,0,0,0,0,0
52398,5574,Business Travelers,2.0,Malaysia,South East Asia,4.3,this is my first time ever with the digusting/...,0,0,1,...,0,0,0,1,0,0,0,0,0,0
52407,1636,Families with Young Children,4.0,Hong Kong,East Asia,9.0,"excellent view, private, quiet, world class se...",0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df.info

<bound method DataFrame.info of        reviewID              cust_travel_type  travel_custer_no  \
9          3293                       Couples               1.0
18         1191            Business Travelers               2.0
27         2551                Solo travelers               6.0
36         4789            Business Travelers               2.0
63          773            Business Travelers               2.0
...         ...                           ...               ...
52371       879  Families with Older Children               3.0
52380      5174                       Couples               1.0
52389      3831                Solo travelers               6.0
52398      5574            Business Travelers               2.0
52407      1636  Families with Young Children               4.0

                    custCountry    countryRegion  star_rating  \
9                      Malaysia  South East Asia          7.0
18                  Switzerland           Europe          7.0
27                    Australia          Oceania          6.0
36                     Thailand  South East Asia         10.0
63               United Kingdom           Europe          9.0
...                         ...              ...          ...
52371         Brunei Darussalam  South East Asia          8.7
52380                 Singapore  South East Asia          6.3
52389  United States of America    North America          8.3
52398                  Malaysia  South East Asia          4.3
52407                 Hong Kong        East Asia          9.0

                                                 comment  Concept_bed  \
9      Is great with the facility and its near to MRT...            0
18     As expected - no problems at all - everything ...            0
27                                  not really memorable            0
36     It's a perfect Haloween Night in Singapore. I ...            0
63     last minute booking for V hotel , affordable p...            0
...                                                  ...          ...
52371  I booked this hotel for my family and they wer...            0
52380  We were awaken by the loud prayers from the mo...            0
52389  Pleasant stay at hotel no issues. Hotel clean ...            0
52398  this is my first time ever with the digusting/...            0
52407  excellent view, private, quiet, world class se...            0

       Concept_easy  Concept_bad  ...  Concept_family  Concept_bath room  \
9                 0            0  ...               0                  0
18                0            0  ...               0                  0
27                0            0  ...               0                  0
36                0            0  ...               0                  0
63                0            0  ...               0                  0
...             ...          ...  ...             ...                ...
52371             0            0  ...               1                  0
52380             0            0  ...               0                  0
52389             0            0  ...               0                  0
52398             0            1  ...               0                  0
52407             0            0  ...               0                  0

       Concept_shopping  Concept_experience  Concept_free  Concept_mrt  \
9                     0                   0             0            0
18                    0                   0             0            0
27                    0                   0             0            0
36                    0                   0             0            0
63                    0                   0             0            0
...                 ...                 ...           ...          ...
52371                 1                   0             1            0
52380                 0                   0             0            1
52389                 1                   0             0            0
52398                 0                   1             0            0
52407                 0                   0             0            0

       Concept_better  Concept_roomy  Concept_nearby  Concept_swimming pool
9                   0              0               1                      0
18                  0              0               0                      0
27                  0              0               0                      0
36                  0              0               0                      0
63                  0              0               0                      0
...               ...            ...             ...                    ...
52371               0              0               0                      0
52380               0              0               1                      0
52389               0              0               0                      0
52398               0              0               0                      0
52407               0              0               0                      0

[4751 rows x 57 columns]>